@font-face {
  font-family: "sansiran";
  src: url(../fonts//Sansiran.ttf);
}

*{
  font-family: sansiran;
}
.Container{
  background: url(../Image/ss.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.loginForm{
  border: 1px solid rgb(209, 209, 209);;
  border-radius: 15px;
  background-color: rgba(243, 243, 243, 0.5);
  height: 550px;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  direction: rtl;
}
.logo{
  text-align: center;
}
.logo h3{
  text-align: right;
  padding: 20px 10px;
}
.loginInputSection{
  margin-top: 30px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line{
  border: 1px solid #232F3F;
  width: 70%;
  margin: 0 auto;
}
.loginInputSection p{
  padding-right: 5px;
  font-size: 14px;
}
.loginInput{
  width: 90%;
  padding: 12px 5px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 25px;
  direction: ltr;
  font-size: 1em;
}
.loginInput:focus{
  outline: none;
  border: 1px solid #008eb2;
}
.submitBtn{
  margin-top: 30px;
  padding: 8px 50px;
  border-radius: 10px;
  background-color: #232F3F;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  font-family: sansiran;
}
.register{
  text-align: center;
  margin-top: 20px;
}
.register p {
  font-size: 15px;
  color: #232F3F;
}
.register a {
  font-size: 15px;
  color: #232F3F;
  text-decoration: underline;
  cursor: pointer;
}