.Container{
  background: url(../Image/ss.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 75px);
}
.loginForm{
  border: 1px solid rgb(209, 209, 209);;
  border-radius: 15px;
  background-color: rgba(243, 243, 243, 0.5);
  height: 550px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  direction: rtl;
}
.logo{
  text-align: center;
}
.loginInputSection{
  margin-top: 100px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginInputSection p{
  padding-right: 5px;
}
.loginInput{
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 25px;
}
.submitBtn{
  margin-top: 30px;
  padding: 8px 50px;
  border-radius: 10px;
  background-color: rgb(182, 11, 182);
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
}
.register{
  text-align: center;
  margin-top: 20px;
}
.register p , a{
  font-size: 18px;
}