@font-face {
    font-family: "iranyekan";
    src: url(../fonts/BYekan.ttf);
}
.container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.container h2{
    font-family: iranyekan;
}
.VetnowEn{
    display: flex;
    text-align: left;
}
.VetnowTitleEn{
    margin-right: 20px;
}
.VetnowEn button{
    border: none;
    background: none;
    font-family: iranyekan;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
.VetnowTitle{
    color: white;
}
.VetnowTitleEn{
    color: yellow;
}