@font-face {
    font-family: "iranyekan";
    src: url(../fonts/BYekan.ttf);
}
.container{
    display: flex;
    justify-content: right;
    font-family: iranyekan;
}
.main{
    width: calc(400% / 5);
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 75px);

}
.main section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

.Boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topBoxDiv , .bottomBoxDiv{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0px;
}
.topBoxDiv div{
    margin: 5px;
    background-color: #EF394E;
    width: 200px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}
.bottomBoxDiv div{
    margin: 5px;
    background-color: #EF394E;
    width: 200px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-shadow: 2px 2px 4px #000000;
    
}
.sidebar{
    width: calc(100% / 5);
    min-height: 100%;

}
@media only screen and (max-width: 1023.98px) {
    .barChart{
        display: none;
    }
   }
@media only screen and (max-width: 767.98px) {
    .topBoxDiv{
        display: grid;
        grid-template-columns: 1fr ;
        row-gap: 10px;
    }
    .topBoxDiv div{
        margin: 0 auto!important;
    }
    .bottomBoxDiv div{
        margin: 0 auto!important;
    }
    .bottomBoxDiv{
        display: grid;
        grid-template-columns: 1fr ;
        row-gap: 10px;

    }
   }