@font-face {
    font-family: "sansiran";
    src: url(../fonts//Sansiran.ttf);
}

.container {
    display: flex;
    justify-content: space-between;
}


.main {
    width: calc(calc(400% / 5) - 20px);
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 125px);

}

.searchTableHeader {
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 70%;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 10px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.searchBox {
    width: 50%;
}

.searchInput {
    width: 100%;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #757575;
    padding: 8px;
    direction: rtl;
}

.searchInput:focus {
    outline: none;
}

.textBox {
    width: 40%;
}

.textBox h3 {
    text-align: right;
    font-size: 10px;
    white-space: nowrap;
}

.CategoriesListTable th {
    text-align: center;
}

.tableHeader {
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 70%;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 10px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tableHeader a,
h3 {
    margin: 0px 10px;
    font-family: sansiran;
}

.tableHeader a {
    background: none;
    border: 1px solid #C70899;
    color: #C70899;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

tr {
    border-bottom: 1px solid #dddddd;
}

td,
th {

    text-align: right;
    padding: 10px 10px;
    font-family: sansiran;

}

.CategoriesListTable th {
    text-align: center;
}

tr:last-child {
    border-bottom: none;
}

th {
    position: relative;
}

th::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #8d8d8d;
    left: 0;
    top: 5px;
}

th:last-child::before {
    width: 0px;
}

.pagination {
    display: inline-block;
    margin-top: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-family: sansiran;
    font-weight: bold;
    cursor: pointer;

}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;

}

.arrows {
    background-color: #d5dadf;
    border-radius: 5px;
    color: white;
}

.deleteButton {
    background: rgb(216, 7, 7);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: sansiran;
    font-weight: bold;
    font-size: 12px;
    margin: 5px 5px;
    width: 40%;
}

.editButton {
    background: #FFCC00;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: sansiran;
    font-weight: bold;
    font-size: 12px;
    margin: 5px 5px;
    width: 40%;
}

.editButton a {
    text-decoration: none;
    color: white;
}

.sidebar {
    width: calc(100% / 5);
    min-height: 100%;

}

@media only screen and (max-width: 575.98px) {

    .CategoriesListTable td,
    th {
        padding: 10px 2px;
        font-size: 10px !important;
    }

    .searchTableHeader {
        width: 100%;
    }

    .editButton {
        font-size: 10px;
    }

    .searchBox {
        width: 90%;
        outline: none;
    }

    .textBox {
        display: none;
    }

    .tableHeader a {
        white-space: nowrap;
        font-size: 10px;
    }

    .textBox {
        width: auto;
    }

    .pagination a {
        padding: 10px 6px;
    }

    .tableHeader {
        width: 100%;
    }

    .tableHeader h3 {
        font-size: 10px;
    }

    .tableHeader button {
        padding: 3px 4px;
    }

    th::before {
        top: 8px;
    }

    .deleteButton {
        font-size: 10px !important;
        white-space: nowrap;
        width: 90%;
        margin-top: 10px !important;
    }

    .editButton {
        font-size: 10px;
        white-space: nowrap;
        width: 90% !important;

    }
}