.container{
    display: flex;
    justify-content: right;
    font-family: iranyekan;
}
.main{
    width: calc(400% / 5);
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.sidebar{
    width: calc(100% / 5);
}
.divImg{
    width: 150px;
    height: 150px;
    border: 1px solid #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.divImg p{
    font-size: 12px!important;
}
.imageContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 16px;
}
.imageContainer img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.photoBox{
    text-align: center;
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageContainer button{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    color: red;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0px;
    border: none;
    opacity: 0.8;
    font-family: iranyekan;
    cursor: pointer;

}
.submitBtn{
    margin-top: 10px;
    background: #C70899;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    font-family: iranyekan;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.imgBox{
    margin: 10px auto;
}
p{
    direction: ltr;
}
@media only screen and (max-width: 1079.98px) {
    .imageContainer img{
        width: 150px;
        height: 150px;
    }
   }

@media only screen and (max-width: 767.98px) {
    .imageContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   }

   @media only screen and (max-width: 575.98px) {
    .imageContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
   }