@font-face {
    font-family: "iranyekan";
    src: url(../fonts/BYekan.ttf);
}
.container{
    display: flex;
    justify-content: right;
    font-family: iranyekan;
}
.main{
    width: calc(400% / 5);
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 125px);

}
.header{
    width: 100%;
}
.header h3{
    text-align: right;
}
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.Profit , .orders , .categoryAllSell{
    width: auto;
    height: 150px;
    padding: 20px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}

.select{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    column-gap: 10px;
    row-gap: 20px;
}
.sectionBox{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 15px;
}
.inputs{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 15px;
}
.select select{
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    text-align: right;
    padding: 8px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: iranyekan;
}
.inputs input , select{
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    text-align: right;
    padding: 8px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: iranyekan;
}
.inputs input , select:focus{
   outline: none;
}
.form{
    width: 100%;
}
.sidebar{
    width: calc(100% / 5);
    min-height: 100%;

}
.background{
    background-color: rgb(211, 211, 211);
}
.submitBtnDiv{
    width: 100%;
    text-align: center;

}
.submitBtn{
    margin-top: 10px;
    background: #C70899;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    font-family: iranyekan;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media only screen and (max-width: 767.98px) {
    .box{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 15px;
        
    }
    .Profit , .orders , .categoryAllSell{
        width: 100%;
    }
    .inputs{
        grid-template-columns: 1fr;
    }
   }